<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
		<li role="presentation" class="nav-parent active"><a href="#home" class="links">Home</a></li>
		<li role="presentation" class="nav-parent"><a href="#gallery" class="links">Gallery</a></li>
		<li role="presentation" class="nav-parent"><a href="#about" class="links">About</a></li>
		<li role="presentation" class="nav-parent"><a href="#contact" class="links">Contact</a></li>
		</ul>
	</nav>
	<h3 class="text-muted">{{ projectName }}</h3>
</div>